extends layout

block content
  h1= title
  p Welcome to #{title}
  .messageDiv
    each message in messages
      ul
        li= message.text 
        li= `- ${message.user}`
        li= message.added.toDateString()
  a(href="/new") Go to Message Form